a:not([class]) {
    border: 0;
    box-shadow: none;
    text-decoration: underline;
    padding-bottom: 0;
}

a:not([class]):hover,
a:not([class]):focus {
    padding-top: 0;
    padding-bottom: 0;
}

.link-block {
    color: inherit;
    text-decoration: none;
}

.footer__paragraph,
.footer__logo {
    margin-top: 1rem;
}

.license__image {
    margin-bottom: 1rem;
}

book {
    width: 350px;
}

.responsive-image {
    max-width: 100%;
}

.service-mesh-icon {
    display: block;
    width: 100px;
    margin: 0 auto;
}

.table-head {
  position: sticky;
  top: 0;
  background-color: #24244C;
}
