<div class="page-layout-xl--default">
  <h2 class="section-heading--primary"> Service Mesh Comparison </h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="table-head" scope="col" style="width: 200px;"></th>
        <th class="table-head scope="col">Istio</th>
        <th class="table-head scope="col">Linkerd 2</th>
        <th class="table-head scope="col">AWS App Mesh</th>
        <th class="table-head scope="col">Consul Connect</th>
        <th class="table-head scope="col">Maesh</th>
        <th class="table-head scope="col">Kuma</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Current version</th>
        <td>1.5</td>
        <td>2.7</td>
        <td></td>
        <td>1.7</td>
        <td>1.0</td>
        <td>0.4</td>
      </tr>
      <tr>
        <th scope="row">License</th>
        <td>Apache License 2.0</td>
        <td>Apache License 2.0</td>
        <td>Closed Source</td>
        <td>Mozilla License</td>
        <td>Apache License 2.0</td>
        <td>Apache License 2.0</td>
      </tr>
      <tr>
        <th scope="row">Developed by</th>
        <td>Google, IBM, Lyft</td>
        <td>Buoyant</td>
        <td>AWS</td>
        <td>HashiCorp</td>
        <td>Containous</td>
        <td>Kong</td>
      </tr>
      <tr>
        <th scope="row">Service Proxy</th>
        <td><a href="https://www.envoyproxy.io" target="_blank">Envoy</a></td>
        <td><a href="https://github.com/linkerd/linkerd2-proxy" target="_blank">linkerd-proxy</a></td>
        <td><a href="https://www.envoyproxy.io" target="_blank">Envoy</a></td>
        <td>defaults to <a href="https://www.envoyproxy.io" target="_blank">Envoy</a>, exchangeable</td>
        <td><a href="https://traefik.io" target="_blank">Traefik</a></td>
        <td><a href="https://www.envoyproxy.io" target="_blank">Envoy</a></td>
      </tr>
      <tr>
        <th scope="row">Ingress Controller</th>
        <td><a href="https://istio.io/docs/tasks/traffic-management/ingress/" target="_blank">Envoy / Own Concept</a></td>
        <td>any</td>
        <td></td>
        <td>any</td>
        <td>any</td>
        <td>any</td>
      </tr>
      <tr>
          <th scope="row">Governance</th>
          <td>see <a href="https://github.com/istio/community#istio-community" target="_blank">Istio Community</a></td>
          <td>see <a href="https://github.com/linkerd/linkerd2/blob/master/GOVERNANCE.md" target="_blank">Linkerd Governance</a> and <a href="https://github.com/cncf/foundation/blob/master/charter.md" target="_blank" >CNCF Charter</a></td>
          <td>AWS</td>
          <td>see <a href="https://github.com/hashicorp/consul/blob/master/.github/CONTRIBUTING.md" target="_blank">Contributing to Consul</a></td>
          <td>see <a href="https://github.com/containous/maesh/blob/master/CONTRIBUTING.md" target="_blank">Contributing notice</a></td>
          <td>see <a href="https://github.com/Kong/kuma/blob/master/CONTRIBUTING.md" target="_blank">Contributing notice</a></td>
        </tr>
      <tr>
          <th scope="row">Tutorial</th>
          <td><a href="https://istio.io/docs/tasks/" target="_blank">Istio Tasks</a></td>
          <td><a href="https://linkerd.io/2/tasks/books/" target="_blank">Linkerd Tasks</a></td>
          <td><a href="https://docs.aws.amazon.com/app-mesh/latest/userguide/appmesh-getting-started.html" target="_blank">AWS App Mesh Getting Started</a></td>
          <td><a href="https://learn.hashicorp.com/consul/getting-started/connect" target="_blank">HashiCorp Learn platform</a></td>
          <td><a href="https://docs.mae.sh/examples/" target="_blank">Maesh Example</a></td>
          <td><a href="https://kuma.io/docs/latest/installation/kubernetes/" target="_blank">Install Kuma on Kubernetes</a></td>
        </tr>
        <tr>
          <th scope="row">Automatic Sidecar Injection</th>
          <td>yes</td>
          <td>yes</td>
          <td>yes</td>
          <td>yes</td>
          <td>yes (per Node)</td>
          <td>yes</td>
        </tr>
        <tr>
            <th scope="row">Used in production</th>
            <td><a href="https://istio.io/about/community/customers/" target="_blank">yes</a></td>
            <td><a href="https://github.com/linkerd/linkerd2/blob/master/ADOPTERS.md" target="_blank">yes</a></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Advantages</th>
            <td>Istio can be adapted and extended like no other Mesh. Its many features are available for Kubernetes and other platforms.</a></td>
            <td>Linkerd 2 is designed to be non-invasive and is optimized for performance and usability. Therefore, it requires little time to adopt.</td>
            <td>AWS App Mesh is integrated into the AWS landscape and it is fully managed for you.</td>
            <td>Consul Connect can be used in any Consul environment and therefore does not require a scheduler. The proxy can be changed and extended.</td>
            <td>Maesh focuses on a selection of features to achieve good usability and performance.</td>
            <td>Kuma supports both Kubernetes and plain VMs and allows you to customize the Envoy Proxy.</td>
          </tr>
          <tr>
            <th scope="row">Drawbacks</th>
            <td>Istio's flexibility can be overwhelming for teams who don't have the capacity for more complex technology. Also, Istio takes control of the ingress controller.</td>
            <td>Linkerd 2 is deeply integrated with Kubernetes and cannot be expanded. Since Linkerd 2 does not rely on a third-party proxy, it cannot be extended easily.</td>
            <td>AWS App Mesh configuration cannot be migrated to an environment outside AWS.</td>
            <td>Consul Connect can only be used in combination with Consul.</td>
            <td>Maesh currently does not support transparent TLS encryption.</td>
            <td>Kuma is still in an early state. That might be a risk for production.</td>
          </tr>
      </tbody>
    <thead style="background-color: white; color: #ff4d67">
      <tr>
        <th scope="col">Supported Protocols</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">TCP</th>
        <td>yes</td>
        <td>yes</td>
        <td>yes</td>
        <td>yes</td>
        <td>yes</td>
        <td>yes</td>
      </tr>
      <tr>
        <th scope="row">HTTP/1.1+</th>
        <td>yes</td>
        <td>yes</td>
        <td>yes</td>
        <td>yes</td>
        <td>yes</td>
        <td>yes</td>
      </tr>
      <tr>
        <th scope="row">HTTP/2</th>
        <td>yes</td>
        <td>yes</td>
        <td>yes</td>
        <td>yes</td>
        <td>yes</td>
        <td>yes</td>
      </tr>
      <tr>
        <th scope="row">gRPC</th>
        <td>yes</td>
        <td>yes</td>
        <td>yes</td>
        <td>yes</td>
        <td>yes</td>
        <td>yes</td>
      </tr>
    </tbody>
    <thead style="background-color: white; color: #ff4d67">
      <tr>
        <th scope="col">Platform and Extensibility</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Platform</th>
        <td>Kubernetes</td>
        <td>Kubernetes</td>
        <td>ECS, Fargate, EKS, EC2</td>
        <td>Kubernetes, Nomad, VMs (Universal)</td>
        <td>Kubernetes</td>
        <td>Kubernetes, VMs (Universal)</td>
      </tr>
      <tr>
        <th scope="row">Mesh Expansion<small class="form-text">Extension of the Mesh by containers/VMs outside the cluster</small></th>
        <td><a href="https://istio.io/docs/examples/virtual-machines/" target="_blank">yes</a></td>
        <td>no</td>
        <td>yes, within AWS</td>
        <td><a href="https://www.consul.io/docs/connect/registration.html" target="_blank">yes</a></td>
        <td>no</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Multi-Cluster Mesh<small class="form-text">Control and observe multiple clusters</small></th>
        <td><a href="https://istio.io/docs/setup/install/multicluster/" target="_blank">yes</a></td>
        <td>no</td>
        <td></td>
        <td><a href="https://www.consul.io/docs/connect/mesh_gateway.html" target="_blank">yes</a></td>
        <td>no</td>
        <td>no</td>
      </tr>
    </tbody>
    <thead style="background-color: white; color: #ff4d67">
      <tr>
        <th scope="col">Service Mesh Interface Compatibility</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Traffic Access Control</th>
        <td><a href="https://github.com/deislabs/smi-adapter-istio" target="_blank">yes</a></td>
        <td>no</td>
        <td>no</td>
        <td><a href="https://github.com/hashicorp/consul-smi-controller" target="_blank">yes</a></td>
        <td><a href="https://github.com/containous/maesh" target="_blank">yes</a></td>
        <td>no</td>
      </tr>
      <tr>
        <th scope="row">Traffic Specs</th>
        <td><a href="https://github.com/deislabs/smi-adapter-istio" target="_blank">yes</a></td>
        <td>no</td>
        <td>no</td>
        <td>no</td>
        <td><a href="https://github.com/containous/maesh" target="_blank">yes</a></td>
        <td>no</td>
      </tr>
      <tr>
        <th scope="row">Traffic Split</th>
        <td><a href="https://github.com/deislabs/smi-adapter-istio" target="_blank">yes</a></td>
        <td><a href="https://linkerd.io/2/features/traffic-split/" target="_blank">yes</a></td>
        <td>no</td>
        <td>no</td>
        <td><a href="https://github.com/containous/maesh" target="_blank">yes</a></td>
        <td>no</td>
      </tr>
      <tr>
        <th scope="row">Traffic Metrics</th>
        <td><a href="https://github.com/deislabs/smi-metrics/tree/master/pkg/istio" target="_blank">yes</a></td>
        <td><a href="https://github.com/deislabs/smi-metrics/tree/master/pkg/linkerd" target="_blank">yes</a></td>
        <td>no</td>
        <td>no</td>
        <td>no</td>
        <td>no</td>
      </tr>
    </tbody>
    <thead style="background-color: white; color: #ff4d67">
      <tr>
        <th scope="col">Monitoring Features</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Access Log Generation	</th>
        <td><a href="https://istio.io/docs/tasks/observability/logs/collecting-logs/" target="_blank">yes</a></td>
        <td>no (<a href="https://linkerd.io/2/reference/cli/tap/" target="_blank">tap-Feature</a> instead)</td>
        <td>yes</td>
        <td>yes</td>
        <td>yes</td>
        <td>yes</td>
      </tr>
      <tr>
        <th scope="row"><a href="https://landing.google.com/sre/sre-book/chapters/monitoring-distributed-systems/#xref_monitoring_golden-signals" target="_blank">"Golden Signal”</a> Metrics Generation</th>
        <td>yes</td>
        <td>yes</td>
        <td>yes</td>
        <td>yes, depending on the proxy used</td>
        <td>yes</td>
        <td>no*</td>
      </tr>
      <tr>
        <th scope="row">Integrated, pre-configured Prometheus	</th>
        <td>yes</td>
        <td>yes</td>
        <td>no</td>
        <td>no</td>
        <td>yes</td>
        <td>no</td>
      </tr>
      <tr>
        <th scope="row">Integrated, pre-configured Grafana</th>
        <td>yes</td>
        <td>yes</td>
        <td>no</td>
        <td>no</td>
        <td>yes</td>
        <td>yes</td>
      </tr>
      <tr>
        <th scope="row">Per-Route Metrics<small class="form-text">Collect values for each HTTP endpoint individually</small></th>
        <td>no</td>
        <td><a href="https://linkerd.io/2/tasks/getting-per-route-metrics/" target="_blank">yes</a></td>
        <td></td>
        <td>depending on the proxy used</td>
        <td></td>
        <td>no</td>
      </tr>
      <tr>
        <th scope="row">Dashboard</th>
        <td>yes, <a href="https://www.kiali.io" target="_blank">Kiali</a></td>
        <td><a href="https://linkerd.io/2/features/dashboard/" target="_blank">yes</a></td>
        <td>yes, <a href="http://aws.amazon.com/cloudwatch/" target="_blank">AWS Cloud Watch</a></td>
        <td>yes, showing configuration and availability only</td>
        <td>no</td>
        <td><a href="https://kuma.io/docs/latest/documentation/gui" target="_blank">yes</a>, showing configuration only</td>
      </tr>
      <tr>
        <th scope="row">Compatible Tracing-Backends</th>
        <td><a href="https://www.jaegertracing.io" target="_blank">Jaeger</a>, <a href="https://zipkin.io" target="_blank">Zipkin</a>, <a href="http://www.solarwinds.com" target="_blank">Solarwinds</a></td>
        <td>all Backends supporting <a href="https://opencensus.io/service/exporters" target="_blank">OpenCensus</a></td>
        <td><a href="http://aws.amazon.com/xray/" target="_blank">AWS X-Ray</a></td>
        <td><a href="https://www.datadoghq.com" target="_blank">Datadog</a>, <a href="https://www.jaegertracing.io" target="_blank">Jaeger</a>, <a href="https://zipkin.io" target="_blank">Zipkin</a>, <a href="https://opentracing.io" target="_blank">OpenTracing</a>, <a href="https://www.honeycomb.io" target="_blank">Honeycomb</a></td>
        <td><a href="https://www.jaegertracing.io" target="_blank">Jaeger</a></td>
        <td>all Backends supporting <a href="https://opentracing.io" target="_blank">OpenTracing</a></td>
      </tr>
    </tbody>
    <thead style="background-color: white; color: #ff4d67">
      <tr>
        <th scope="col">Routing Features</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Load Balancing</th>
        <td><a href="https://istio.io/docs/concepts/traffic-management/#load-balancing-options" target="_blank">yes (Round Robin, Random, Least Connection)</a></td>
        <td>yes (<a href="https://linkerd.io/2/features/load-balancing/" target="_blank">EWMA</a>, exponentially weighted moving average)</td>
        <td>yes</td>
        <td>yes</td>
        <td>yes</td>
        <td>yes</td>
      </tr>
      <tr>
        <th scope="row">Percentage-based Traffic Splits</th>
        <td><a href="https://istio.io/docs/tasks/traffic-management/traffic-shifting/#apply-weight-based-routing" target="_blank">yes</a></td>
        <td>yes, through <a href="https://github.com/deislabs/smi-spec/blob/master/traffic-split.md" target="_blank">SMI</a></td> 
        <td><a href="https://docs.aws.amazon.com/app-mesh/latest/APIReference/API_CreateRoute.html" target="_blank">yes</a></td>
        <td><a href="https://www.consul.io/docs/agent/config-entries/service-splitter.html" target="_blank">yes</a></td> 
        <td>yes, through <a href="https://github.com/deislabs/smi-spec/blob/master/traffic-split.md" target="_blank">SMI</a></td>
        <td><a href="https://kuma.io/docs/latest/policies/traffic-route/" target="_blank">yes</a></td>
      </tr>
      <tr>
        <th scope="row">Header- and Path-based Traffic Splits<small class="form-text">Routing rules based on request header and path</small></th>
        <td><a href="https://istio.io/docs/tasks/traffic-management/request-routing/" target="_blank">yes</a></td>
        <td>no</td>
        <td><a href="https://docs.aws.amazon.com/app-mesh/latest/APIReference/API_CreateRoute.html" target="_blank">yes</a> </td> 
        <td><a href="https://www.consul.io/docs/agent/config-entries/service-router.html" target="_blank">yes</a></td> 
        <td>no</td>
        <td>no*</td>
      </tr>
    </tbody>
    <thead style="background-color: white; color: #ff4d67">
      <tr>
        <th scope="col">Resilience Features</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Circuit Breaking</th>
        <td><a href="https://istio.io/docs/concepts/traffic-management/#circuit-breakers" target="_blank">yes</a></td>
        <td>no</td>
        <td>no</td>
        <td><a href="https://www.consul.io/docs/connect/proxies/envoy.html#limits" target="_blank">yes</a></td>
        <td><a href="https://docs.mae.sh/configuration/#circuit-breaker" target="_blank">yes</a></td>
        <td>no*</td>
      </tr>
      <tr>
        <th scope="row">Retry & Timeout</th>
        <td><a href="https://istio.io/docs/concepts/traffic-management/#timeouts" target="_blank">yes</a></td>
        <td><a href="https://linkerd.io/2/features/retries-and-timeouts/" target="_blank">yes</a></td>
        <td><a href="https://docs.aws.amazon.com/app-mesh/latest/userguide/routes.html"target="_blank">yes</a></td>
        <td><a href="https://www.consul.io/docs/agent/config-entries/service-router.html" target="_blank">yes</td>
        <td><a href="https://docs.mae.sh/configuration/" target="_blank">yes</a></td>
        <td>no*</td>
      </tr>
      <tr>
        <th scope="row">Path-based Retry & Timeout<small class="form-text">Different retry and timeout config for each endpoint</small></th>
        <td>no</td>
        <td><a href="https://linkerd.io/2/tasks/configuring-retries/" target="_blank">yes</a></td> 
        <td><a href="https://docs.aws.amazon.com/app-mesh/latest/APIReference/API_CreateRoute.html" target="_blank">yes</a></td>
        <td><a href="https://www.consul.io/docs/agent/config-entries/service-router.html" target="_blank">yes</a> </td>
        <td>no</td>
        <td>no</td>
      </tr>
      <tr>
        <th scope="row">Fault Injection</th>
        <td><a href="https://istio.io/docs/tasks/traffic-management/fault-injection/#injecting-an-http-abort-fault" target="_blank">yes</a></td>
        <td>yes, by adding a <a href="https://linkerd.io/2/tasks/fault-injection/" target="_blank">deployment and a traffic split config</a></td>
        <td></td>
        <td>no*</td>
        <td>no</td>
        <td>no*</td>
      </tr>
      <tr>
        <th scope="row">Delay Injection</th>
        <td><a href="https://istio.io/docs/tasks/traffic-management/fault-injection/#injecting-an-http-delay-fault" target="_blank">yes</a></td>
        <td>no</td>
        <td></td>
        <td>no*</td>
        <td>no</td>
        <td>no*</td>
      </tr>
    </tbody>
    <thead style="background-color: white; color: #ff4d67">
      <tr>
        <th scope="col">Security Features</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">mTLS</th>
        <td><a href="https://istio.io/docs/concepts/security/#mutual-tls-authentication" target="_blank">yes</a></td>
        <td><a href="https://linkerd.io/2/features/automatic-mtls" target="_blank">yes</a>, not for TCP</td>
        <td><a href="https://docs.aws.amazon.com/app-mesh/latest/userguide/virtual-node-tls.html" target="_blank">in preview</a></td>
        <td><a href="https://www.consul.io/docs/connect/connect-internals.html#mutual-transport-layer-security-mtls-" target="_blank">yes</a></td>
        <td>no</td>
        <td><a href="https://kuma.io/docs/latest/policies/mutual-tls" target="_blank">yes</a></td>
      </tr>
      <tr>
        <th scope="row">External CA certificate and key pluggable <small class="form-text">e.g. <a href="https://www.vaultproject.io" target="_blank">Vault</a>, <a href="https://cert-manager.io/docs/installation/kubernetes/" target="_blank">cert-manager</a></small></th>
        <td><a href="https://istio.io/docs/tasks/security/citadel-config/plugin-ca-cert/" target="_blank">yes</a></td>
        <td><a href="https://linkerd.io/2/tasks/use_external_certs/" target="_blank">yes</a></td>
        <td><a href="https://docs.aws.amazon.com/app-mesh/latest/userguide/virtual-node-tls.html" target="_blank">yes</a></td>  
        <td><a href=https://www.consul.io/docs/connect/ca/consul.html#specifying-a-custom-private-key-and-root-certificate" target="_blank">yes</a></td>
        <td>no</td>
        <td><a href="https://kuma.io/docs/latest/policies/mutual-tls/#provided-ca" target="_blank">yes</a></td>
      </tr>
      <tr>
        <th scope="row">Authorization Rules</th>
        <td><a href="https://istio.io/docs/concepts/security/#authorization" target="_blank">yes</a></td>
        <td>no</td>
        <td></td>
        <td><a href="https://www.consul.io/docs/connect/intentions.html" target="_blank">yes</a></td>
        <td>no</td>
        <td><a href="https://kuma.io/docs/latest/policies/traffic-permissions/" target="_blank">yes</a></td>
      </tr>
    </tbody>
  </table>
  <p><small class="form-text" style="text-align: right;">*Might be possible through manual configuration/templating of proxy.</small></p>
  </p>
  <p class="pullquote">Found a mistake? Or have something to add? We appreciate your issues or pull requests on <a href="https://github.com/servicemesh-es/servicemesh.es" target="_blank">GitHub</a>!</p>
</div>
