<div class="page-layout-xl--default" style="text-align: center;">
  <br>
  <p>
    <span class="section-heading--secondary">That's just a table.</span><br>
  <span>For advice, trainings, and support around Kubernetes and Service Mesh send an email to <a href="mailto:info@innoq.com">info@innoq.com</a></span>
  </p>
  <form action="https://innoq.com/contact" target="_blank">
    <button class="btn btn--cta" data-label="Get in touch" type="submit" >
      Get in touch
  </button>
  </form>
<br>
</div>