<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/innoq-style.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png?v=BGmQMWez4Q">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png?v=BGmQMWez4Q">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png?v=BGmQMWez4Q">
  <link rel="manifest" href="img/site.webmanifest?v=BGmQMWez4Q">
  <link rel="mask-icon" href="img/safari-pinned-tab.svg?v=BGmQMWez4Q" color="#ff4d67">
  <link rel="shortcut icon" href="img/favicon.ico?v=BGmQMWez4Q">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="img/browserconfig.xml?v=BGmQMWez4Q">
  <meta name="theme-color" content="#ffffff">

  <meta name="publication_date" content="{{ site.time | date: '%Y-%m-%d' }}" scheme="YYYY-MM-DD">
  <meta name="date" content="{{ site.time | date: '%Y-%m-%d' }}" scheme="YYYY-MM-DD">

  <meta name="title" content="servicemesh.es | Service Mesh Comparison">
  <meta name="description" content="Service Mesh Feature Comparison — including Istio, Linkerd 2, AWS App Mesh, Consul Connect, Maesh, Kuma">

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@INNOQ">
  <meta name="twitter:creator" content="@INNOQ">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="Service Mesh Feature Comparison — including Istio, Linkerd 2, AWS App Mesh, Consul Connect, Maesh, Kuma">
  <meta name="twitter:image" content="https://servicemesh.es/img/table_preview.png?v=BGmQMWez4Q">

  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="Service Mesh Feature Comparison — including Istio, Linkerd 2, AWS App Mesh, Consul Connect, Maesh, Kuma">
  <meta property="og:image" content="https://servicemesh.es/img/table_preview.png?v=BGmQMWez4Q">
  <meta property="og:url" content="https://servicemesh.es/">
</head>
