<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/innoq-style.css">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@INNOQ">
  <meta name="twitter:creator" content="@INNOQ">
  <meta name="twitter:title" content="servicemesh.es">
  <meta name="twitter:description" content="Service Mesh Feature Comparison - including Istio, Linkerd 2, AWS App Mesh, Consul Connect, maesh, Kuma">
  <meta name="twitter:image" content="https://servicemesh.es/img/table_preview.png">

</head>
