<h2 class="section-heading--primary"> Service Mesh Implementations </h2>
<div class="stripe--primary">
  </br>
  <div class="page-layout-xl--default">
    <div class="blocks">
        
      <div class="list-teaser list-teaser__body">
          <a href="https://istio.io" target="_blank" class="link-block"> 
            <div style="height: 110px; text-align: center" class="link-block" > 
              <span class="helper"></span> 
              <img src="img/istio.svg"/ class="img-center" style="max-height: 110px" height="90px">
            </div>
          <h2 class="list-teaser__headline">Istio</h2>
          <p class="list-teaser__text">
            If you have heard about service mesh, you have probably heard about Istio too. Istio is by far the most popular service mesh because of its rich feature set and it Google's and IBM's support.
          </p>
        </a>
        </div>

      <div class="list-teaser list-teaser__body">
        <a href="https://linkerd.io" target="_blank" class="link-block">
          <div style="height: 110px; text-align: center" class="link-block" > 
            <span class="helper"></span> 
            <img src="img/linkerd.png"/ class="img-center" style="max-height: 110px" height="75px">
          </div>
          <h2 class="list-teaser__headline">Linkerd 2</h2>
          <p class="list-teaser__text">
            While Istio made the service mesh popular, Linkerd was the first service mesh and quite successful. Still, the developers decided to build a new version - Linkerd 2 - committed to usability, performance, and Kubernetes as the underlying platform.
          </p>
        </a>
        </div>

        <div class="list-teaser list-teaser__body">
          <a href="https://www.hashicorp.com/products/consul/service-mesh" target="_blank" class="link-block">
            <div style="height: 110px; text-align: center" class="link-block" > 
              <span class="helper"></span> 
              <img src="img/consul.png"/ class="img-center" style="max-height: 110px" height="75px">
            </div>
          <h2 class="list-teaser__headline">Consul</h2>
          <p class="list-teaser__text">
            HashiCorp's Consul has been well known as a service discovery solution for a long time. Now that it has adopted the Envoy proxy and Sidecar pattern, Consul can serve as a service mesh for a variety of platforms like Kubernetes and VMs.
          </p>
        </a>
        </div>
    </div>

    <div class="blocks">
      
      <div class="list-teaser list-teaser__body">
        <a href="http://aws.amazon.com/app-mesh/" target="_blank" class="link-block">
          <div style="height: 110px; text-align: center" class="link-block" > 
            <span class="helper"></span> 
            <img src="img/awsappmesh.png"/ class="img-center" style="max-height: 110px" height="75px">
          </div>
        <h2 class="list-teaser__headline">AWS App Mesh</h2>
        <p class="list-teaser__text">
          Not long after the service mesh hype, AWS added its own service mesh for applications on AWS.
        </p>
      </a>
      </div>

        <div class="list-teaser list-teaser__body">
          <a href="https://traefik.io/traefik-mesh/" target="_blank" class="link-block">
            <div style="height: 110px; text-align: center" class="link-block" > 
              <span class="helper"></span> 
              <img src="img/traefik-mesh.svg"/ class="img-center" style="max-height: 110px" height="60px">
            </div>
          <h2 class="list-teaser__headline">Traefik Mesh</h2>
          <p class="list-teaser__text">
            As the name already reveals, Traefik Mesh (formerly Maesh) is the service mesh based the cloud-native API gateway Traefik.
          </p>
        </a>
        </div>

      <div class="list-teaser list-teaser__body">
        <a href="https://kuma.io" target="_blank" class="link-block">
          <div style="height: 110px; text-align: center" class="link-block" > 
            <span class="helper"></span> 
            <img src="img/kuma.svg"/ class="img-center" style="max-height: 110px" height="60px">
          </div>
          <h2 class="list-teaser__headline">Kuma</h2>
          <p class="list-teaser__text">
            Similar to Traefik Mesh, Kuma is also a very new service mesh made by developers of an API gateway - Kong.
          </p>
        </a>
      </div>
      <div class="list-teaser list-teaser__body">
        <a href="https://openservicemesh.io/" target="_blank" class="link-block">
          <div style="height: 110px; text-align: center" class="link-block" > 
            <span class="helper"></span> 
            <img src="img/openservicemesh.svg"/ class="img-center" style="max-height: 110px" height="90px"> 
          </div>
          <h2 class="list-teaser__headline">Open Service Mesh (OSM)</h2>
          <p class="list-teaser__text">
            A new implementation by Microsoft, following common service mesh design principles like adopting envoy and implementing SMI spec.
          </p>
        </a>
      </div>
    </div>

    <div class="blocks">
      <div class="list-teaser list-teaser__body">
        <a href="https://smi-spec.io/" target="_blank" class="link-block">
          <div style="height: 110px; text-align: center" class="link-block" > 
            <span class="helper"></span> 
            <img src="img/smi.png"/ class="img-center" style="max-height: 110px" height="75px">
          </div>
          <h2 class="list-teaser__headline">Service Mesh Interface (SMI)</h2>
          <p class="list-teaser__text">
            SMI is not a service mesh, but a API specification for service mesh features. In was built by Microsoft, Buoyant (developing Linkerd), and HashiCorp (developing Consul) to create a common standard for how service mesh features can be configured regardless of the underlying service mesh implementation. This Service Mesh Interface specification allows the implementation-agnostic development of tools based on service mesh features (such as Dashboards, canary releasing automation tools, ...). When developed against the SMI, tools become compatible with any SMI-compliant service mesh. Service mesh users also benefit from the ability to change their service mesh implementation without needing to change configuration.
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
