<h2 class="section-heading--primary"> Service Mesh Implementations </h2>
<div class="stripe--primary">
  </br>
  <div class="page-layout-xl--default">
    <div class="blocks">
      <div class="list-teaser list-teaser__body">
        <h2 class="list-teaser__headline">Istio</h2>
        <p class="list-teaser__text">
          If you have heard about Service Mesh, you have probably heard about Istio too. Istio is by far the most popular Service Mesh, because it has the most features and it is backed by Google and IBM.
        </p>
      </div>

      <div class="list-teaser list-teaser__body">
        <h2 class="list-teaser__headline">Linkerd 2</h2>
        <p class="list-teaser__text">
          While Istio made the Service Mesh popular, Linkerd was the first Service Mesh and quite successful. Still the developers decided to build a new version - Linkerd 2 - committed to usability, performance and Kubernetes as the underlying platform.
        </p>
      </div>

      <div class="list-teaser list-teaser__body">
        <h2 class="list-teaser__headline">AWS App Mesh</h2>
        <p class="list-teaser__text">
          Not long after the Service Mesh hype, AWS added their own Service Mesh for Applications on AWS.
        </p>
      </div>
    </div>

    <div class="blocks">
      <div class="list-teaser list-teaser__body">
        <h2 class="list-teaser__headline">Consul/Consul Connect</h2>
        <p class="list-teaser__text">
          Consul is well known as a Service Discovery Solution. They decided to implement the Service Mesh pattern into their architecture to provide even more advanced features.
        </p>
      </div>

      <div class="list-teaser list-teaser__body">
        <h2 class="list-teaser__headline">maesh</h2>
        <p class="list-teaser__text">
          As the name already reveals, maesh is the Service Mesh based on Traefik, a cloud native API gateway.
        </p>
      </div>

      <div class="list-teaser list-teaser__body">
        <h2 class="list-teaser__headline">Kuma</h2>
        <p class="list-teaser__text">
          Similar to maesh, Kuma is also a very new Service Mesh made by developers of an API Gateway - Kong.
        </p>
      </div>
    </div>
  </div>
</div>
