<section class="page-layout-md--default">
  <div class="blocks">
    <a href="http://leanpub.com/service-mesh-primer" target="_blank" class="link-block book">
      <img src="img/primer.svg" class="responsive-image" />
    </a>
    <div>
      <h2>Service Mesh Primer</h2>
      <p>Our free <a href="http://leanpub.com/service-mesh-primer" target="_blank">Service Mesh Primer</a> explains the service mesh pattern und features in detail and contains examples for Istio.</p>
    </div>
  </div>
</section>

<footer class="eyecatcher site-footer">

  <p>Last updated: {{ site.time | date: '%B %d %Y'}}</p>
  <p class="eyecatcher__text footer__paragraph">
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" class="license__image" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
    <br />
    The content of this site was created by Anja Kammer, Christine Koppelt, Jörg Müller, Hanna Prinz, Christopher Schmidt, and Eberhard Wolff.<br>
     It is published under <a href="https://creativecommons.org/licenses/by/4.0/" rel="license" target="_blank">Creative Commons Attribution 4.0 International Public License</a> and can therefore be shared and adapted with attribution ("INNOQ").
  </p>
  <p class="eyecatcher__text footer__paragraph">
      Made and maintained by<br>
      <a href="{{ site.author.url }}">
        <img src="img/innoq-logo.svg" alt="INNOQ" class="footer__logo">
      </a>
    </p>
  <p class="eyecatcher__text footer__paragraph">
    <a href="https://www.innoq.com/de/datenschutz">Privacy Policy</a>
  </p>
</footer>
