<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>
    <main role="main">
      {% include page-header.html %}
      <hr class="claim-header__divider">
      {% include implementations.html %}
      {% include mesh-interface.html %}
      <hr class="claim-header__divider">
      {% include how-to-choose.html %}
      <hr class="claim-header__divider">
      {% include comparison.html %}
      {% include alternatives.html %}
      {% include page-footer.html %}
    </main>

    <script src="https://assets.innoq.com/chenin.js"></script>
    <script>
      new Chenin({siteId: 4, hashMode: false})
    </script>
  </body>
</html>
